/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
.hide-scroll {
  overflow: hidden;
}
.hide-vertical-scroll {
  overflow-y: hidden;
}
.fon {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: #0f62fe;
}
.hero-height {
  height: calc(
    100vh - 4rem
  ); /* Assuming your navbar height is 4rem (16px * 4) */
}
.repeat {
  font-size: 40px;
  color: #3b82f6;
  font-weight: 600;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Apply the animation to the scroll behavior */
html,
body {
  animation: smoothScroll 0.5s ease-in-out;
}
bg-white {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.5s ease;
}

.show-menu .bg-white {
  opacity: 1;
  visibility: visible;
}
